
@font-face {
  font-family: 'Maragsa Display';
  src: url('./fonts/Maragsâ/Maragsâ-Display.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.headshot {
  width: 200px;
  height: auto; 
  margin: 75px auto;
  margin-bottom: 20px;
  display: block;
}

.about-tile-container {
  margin: 0px;
  margin-top: 10px;
  background-color: #f9f9f9;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0px 20px;
  position: absolute;
  left: 0;
  right: 0;
}

.about-tile-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 30px auto;
}

.about-header {
  font-family: 'Maragsa Display', serif;
}
