/* App.css */

/* Global Variables */
:root {
  --primary-color: #D2691E;
  --secondary-color: #6D4C41;
  --hold-color: #FFCC00;
  --background-overlay: rgba(255, 255, 255, 0.8);
  --button-text-color: #FFF;
  --text-color: #6D4C41;
  --header-font-size: 32px;
  --subheader-font-size: 24px;
  --text-font-size: 20px;
  --button-font-size: 18px;
  --button-padding: 15px 30px;
  --button-radius: 5px;
  --background-color-1: rgba(210, 105, 30, 0.5);
  --background-color-2: rgba(210, 105, 30, 0.7);
  --container-width: 90%;
  --container-margin-top: 75px;
  --container-margin-bottom: 150px;
  --circle-size: 50px;
  --circle-opacity: 0.4;
  --flower-size: 200px;
  --animation-duration: 5s;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
}

.app-container {
  background: url('../images/background_img.png') no-repeat center center fixed;
  background-size: cover;
  width: 100vw; /* Ensure it covers the full viewport width */
  height: 100vh; /* Ensure it covers the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page-container {
  width: 100%;
}

.scrollable-content {
  width: var(--container-width);
  height: 100vh;
  overflow-y: auto;
  margin: auto;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: var(--container-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: var(--container-margin-top);
  margin-bottom: var(--container-margin-bottom);
}

.home-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  z-index: 1000; /* Ensure the button is always on top */
}
