.breathe-instruction {
  color: #4D2B2B;
  font-family: 'MARAGSA DISPLAY', sans-serif;
  text-align: center;
}

.repetition-counter {
  color: #5F403E;
  font-family: 'Hanken Grotesk', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.control-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
}

#main-button {
  width: 50px;
  padding: 10px;
}

.subtext {
  color: #4D2B2B;
  font-family: 'Hanken Grotesk', sans-serif;
  text-align: center;
  margin-top: 10px;
}