

.home-header{
  font-family: 'Hanken Grotesk', sans-serif;
}

.header-image {
  width: 150px;
  align-self: flex-start;
  clip-path: polygon(0% 10%, 100% 10%, 100% 90%, 0% 90%);
}

.main-text {
  margin-bottom: 0px;
}

.separated-text {
  margin-top: 10px;
}

.navigation{
  background-color: #D66660;
  font-size: 18px;
  font-weight: 600; /* Semi-bold weight */
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
  font-family: 'Hanken Grotesk Bold', sans-serif;
  text-align: center;
  align-self: flex-start;
}
