.learn-tile-container {
  margin: 0px;
  margin-top: 10px;
  background-color: var(--tile-background-color);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0px 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 40%;
}

.learn-tile-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 30px auto;
}

.learn-header {
  font-family: 'Maragsa Display', serif;
}

.video {
  max-width: 80%;
  max-height: 250px;
  margin: 75px auto;
  margin-bottom: 20px;
  display: block;
  background-color: #000;
}

.steps-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0 20px;
  text-align: left;
  justify-content: center;
}
